.aboutstyle {
    text-align: left;
    padding: 5%;
    overflow: auto;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

}

.curser-pointer {
    text-decoration: "none";
    color: "black"
}

.heading {
    font-size: 2rem;
    text-align: center;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    padding: 1rem;

}

::-webkit-scrollbar {
    width: 0;
}