.shopnowbutton{
    background-color: transparent;
    color:rgb(68, 67, 67);
    border: 2px solid rgb(68, 67, 67);
    font-size: x-large;
    align-items: center;
    margin: 20px;
    margin-left: 120px;
    padding:10px
}

.shopnowbutton:hover{
    background-color: rgb(68, 67, 67);
    color:white;
    border:0px;
}

.announce{
    font-size: xx-large;
    font-family:  "Segoe Print", Times, serif;
}

.margi{
    margin-top: 150px;
}

@media(max-width:385px){
    .shopnowbutton{
        margin:0px 70px;
        margin-bottom: 65px;
    }
    .margi{
        margin-top: 0px;
    }
    .mb-4{
        margin-bottom: 0px;
    }
}

