.shopnowbutton{
    background-color: transparent;
    color:rgb(68, 67, 67);
    border: 2px solid rgb(68, 67, 67);
    font-size: x-large;
    align-items: center;
    margin-left: 120px;
    padding:10px
}

.shopnowbutton:hover{
    background-color: rgb(68, 67, 67);
    color:white;
    border:0px;
}

.announce{
    font-size: xx-large;
    font-family:  "Segoe Print", Times, serif;
}

.margi{
    margin-top: 100px;
    margin-bottom:50px;
}
.inlineList {
    display: flex;
    flex-direction: row;
    /* Below sets up your display method: flex-start|flex-end|space-between|space-around */
    justify-content: flex-start; 
    /* Below removes bullets and cleans white-space */
    list-style: none;
    padding: 0;
    /* Bonus: forces no word-wrap */
    white-space: nowrap;
  }

@media(max-width:425px){
    .shopnowbutton{
        margin:0px 130px;
        margin-bottom: 65px;
    }
    .margi{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .mb-4{
        margin-bottom: 0px;
    }
}

@media(max-width:385px){
    .shopnowbutton{
        margin:0px 80px;
        margin-bottom: 65px;
    }
}