.footer {
    bottom: 0;
    width: 100%;
    color: aliceblue;
    background-color: #000;
    text-align: center;
    position: fixed;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    cursor: pointer;
    box-shadow: none;
}

.logobg-img {
    background-image: url(../asset/brand-removebg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 560px 280px;
    min-height: 70px;
    min-width: 150px;
}

.radialgradient {
    background: radial-gradient(#eedcc5, #fff 60%);
}

.modalst {
    height: 80vh;
    max-height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 600px;
    border-radius: 20px;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
    width: 0;
}

/* ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(200, 200, 200, 0.5);
    -webkit-box-shadow: inset;
} */

.nav-itstyle {
    cursor: pointer;
    text-decoration: none;
    color: #000000A6;
    /* margin: 1rem; */
    padding: 0.5rem;
    font-size: 1.5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-weight: 500;
}

.nav-itstyle:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(24, 24, 34);
    transition: width 0.7s;
}

.active:after {
    width: 100%
}

.nav-itstyle:hover:after {
    width: 100%
}

@media (max-width:990px) {
    .navbar-nav {
        padding-left: 25%;
    }
}