.contactstyle {
    text-align: Left; 
    padding: 40px 60px; 
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    justify-content: center;
    padding-bottom: 290px;
}