.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:root{
  --font-frnt-size: 50px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width:425px){
  :root{
    --font-frnt-size: 30px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bg-img{
  background-image: url(./asset/brand-removebg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(var(--font-frnt-size) + 1500px);
  min-height:200px;
  min-width: auto;
  align-items: center;
  transition: all 2s;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animation-cs{
  animation-name: tracking-in-expand;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0s;
  font-size: var(--font-frnt-size);
  font-family: Brush Script MT, Brush Script Std, cursive;
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

a{
  text-decoration: none;
  color: black;
}
