body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 56px;
  background: radial-gradient( #eedcc5,#fff 60%);
  background-attachment: fixed;
/* #f5f0eb */
  
}
@media (min-width: 992px) {
  body {
    padding-top: 72px; /* Adjust according to your header height for larger screens */
  }
} 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
